
<div class="container d-flex position">
    <div class="col-md-4 mt-3 align-items-center" *ngFor="let item of products">
        <div class="card">
            <div class="top d-flex flex-row align-items-center"> 
                <h6 class="mb-0 mr-2">{{item.productName}}</h6> <i class="fa fa-opencart"></i>
            </div>
            <div class="middle"> <img src={{item.image}} width="auto" class="mt-3">
                <h5>{{item.description}}</h5> <span>{{item.label}} 1.2KG</span>
            </div>
            <div class="bottom d-flex flex-row justify-content-center">
                <div class="input-group mb-3"> <span class="input-group-text">+</span> <input type="text" class="form-control text-center" value="1"> <span class="input-group-text">-</span> </div> <button class="btn btn-success btn-sm add">Pedir</button>
            </div>
        </div>
    </div>
</div>